<form [formGroup]="questionnaireForm">
    <ng-container [ngTemplateOutlet]="inputTemplateRef"
                [ngTemplateOutletContext]="{my_meta: all_meta, my_form_group: questionnaireForm}">

  </ng-container>

  <ng-template #inputTemplateRef let-meta="my_meta" let-my_formGroup="my_form_group">
    <div [formGroup]="my_formGroup">
      <hr>

      <!--
      ******************************
      LOOP THROUGH ALL THE META DATA KEYS
      ******************************
      -->
      <div *ngFor="let key of keys(meta)">
        <h4>{{meta[key].label}}</h4>

        <!--
        ******************************
        INPUTS OF CURRENT FORM GROUP
        ******************************
        -->
        <div *ngIf="key.startsWith('input')">
            <input type="text" formControlName="{{meta[key].name}}">
        </div>


        <!--
        ******************************
        IF KEY IS NOT AN INPUT, THEN IT IS A GROUP WITH INPUTS UNDERNEATH IT
        GENERATE A NEW FORM GROUP AND RECURSIVELY BUILD IT
        ******************************
        -->
        <div *ngIf="key.startsWith('group')">
          <div>
            <ng-container [ngTemplateOutlet]="inputTemplateRef"
            [ngTemplateOutletContext]="{my_meta: meta[key].group, my_form_group: my_formGroup.controls[meta[key].name]}">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>